{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2022": true,
    "jest": true
  },
  "root": true,
  "extends": ["@bitovi/eslint-config/node", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "bracketSpacing": true,
        "endOfLine": "lf",
        "parser": "typescript",
        "printWidth": 80,
        "semi": true,
        "singleQuote": false,
        "trailingComma": "all",
        "useTabs": false
      }
    ]
  }
}
